<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="HIMSConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\aseel\OneDrive\documents\visual studio 2013\Projects\JUHIMS\JUHIMS\App_Data\HIMS.mdf;Integrated Security=True;MultipleActiveResultSets=true"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="Services/Requests.aspx" loginUrl="EmployeeLogin.aspx" slidingExpiration="true" timeout="15"></forms>
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>